<!-- LIST ALL PENDENCIES  -->

<!--<div class="jumbotron">
    <h1>Apresentamos o Gestor de Pendências!!!</h1>
    <p>A nova ferramenta da Direct Talk para gerenciar sua operação. Que tal começar criando uma pendência?</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>-->


<!-- Toolbar  -->
<div class="btn-toolbar" role="toolbar">

    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-default btn-toolbar" ng-model="data.orderBy" btn-radio="'alphabet'"
                data-toggle="tooltip" data-placement="bottom" data-container="body" title="Order by Alphabeet">
            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
        </button>
        <button type="button" class="btn btn-default" ng-model="data.orderBy" btn-radio="'date'"
                data-toggle="tooltip" data-placement="bottom" data-container="body" title="Order by Date">
            <span class="glyphicon glyphicon-sort-by-order"></span>
        </button>
        <button type="button" class="btn btn-default" ng-model="data.orderBy" btn-radio="'category'"
                data-toggle="tooltip" data-placement="bottom" data-container="body" title="Order by Category">
            <span class="glyphicon glyphicon-sort-by-attributes"></span>
        </button>
    </div>
    <div class="btn-group btn-group-sm navbar-right">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search
"></div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
        </div><!-- /input-group -->
    </div>
</div>

<!-- DataGrid  -->
<div class="col-lg-12">
    <table class="table table-hover">
        <tbody>
        <tr>
            <td class="table-check"><input type="checkbox"></td>
            <td class="table-icon"><span class="glyphicon glyphicon-time"></span></td>
            <td class="table-id"> #111</td>
            <td class="table-desc" >Problema com boleto</td>
            <td class="table-date">Apr 18, 2014 - 20:40</td>
            <td class="table-status text-right">Aberto</td>
        </tr>
        <tr>
            <td class="table-check"><input type="checkbox"></td>
            <td class="table-icon" ><span class="glyphicon glyphicon-time"></span></td>
            <td class="table-id"> #111</td>
            <td class="table-desc" >Encomenda perdida</td>
            <td class="table-date" >Apr 16, 2014 - 08:22</td>
            <td class="table-status text-right">Aberto</td>
        </tr>
        <tr>
            <td class="table-check"><input type="checkbox"></td>
            <td class="table-icon" ><span class="glyphicon glyphicon-time"></span></td>
            <td class="table-id"> #111</td>
            <td class="table-desc" >Cliente não consegue acessar conta</td>
            <td class="table-date" >Apr 15, 2014 - 12:01</td>
            <td class="table-status text-right">Aberto</td>
        </tr>
        <tr>
            <td class="table-check"><input type="checkbox"></td>
            <td class="table-icon" ><span class="glyphicon glyphicon-time"></span></td>
            <td class="table-id"> #111</td>
            <td class="table-desc" >Produto com defeito</td>
            <td class="table-date" >Apr 15, 2014 - 12:01</td>
            <td class="table-status text-right">Aberto</td>
        </tr>
        <tr>
            <td class="table-check"><input type="checkbox"></td>
            <td class="table-icon" ><span class="glyphicon glyphicon-time"></span></td>
            <td class="table-id"> #111</td>
            <td class="table-desc" >Encomenda atrasada</td>
            <td class="table-date" >Apr 18, 2014 - 20:40</td>
            <td class="table-status text-right">Aberto</td>
        </tr>
        <tr>
            <td class="table-check"><input type="checkbox"></td>
            <td class="table-icon" ><span class="glyphicon glyphicon-time"></span></td>
            <td class="table-id"> #111</td>
            <td class="table-desc" >Encomenda atrasada</td>
            <td class="table-date" >Apr 16, 2014 - 08:22</t
                d>
            <td class="table-status text-right">Aberto</td>
        </tr>
        <tr>
            <td class="table-check"><input type="checkbox"></td>
            <td class="table-icon" ><span class="glyphicon glyphicon-time"></span></td>
            <td class="table-id"> #111</td>
            <td class="table-desc" >Problema com internet</td>
            <td class="table-date" >Apr 15, 2014 - 12:01</td>
            <td class="table-status text-right">Aberto</td>
        </tr>
        <tr>
            <td class="table-check"><input type="checkbox"></td>
            <td class="table-icon" ><span class="glyphicon glyphicon-time"></span></td>
            <td class="table-id"> #111</td>
            <td class="table-desc" >Cliente devedor</td>
            <td class="table-date" >Apr 15, 2014 - 12:01</td>
            <td class="table-status text-right">Aberto</td>
        </tr>
        <tr>
            <td class="table-check"><input type="checkbox"></td>
            <td class="table-icon" ><span class="glyphicon glyphicon-time"></span></td>
            <td class="table-id"> #111</td>
            <td class="table-desc" >Lorem Ipsum</td>
            <td class="table-date" >Apr 18, 2014 - 20:40</td>
            <td class="table-status text-right">Aberto</td>
        </tr>

        <tr>
            <td class="table-check"><input type="checkbox"></td>
            <td class="table-icon" ><span class="glyphicon glyphicon-time"></span></td>
            <td class="table-id"> #111</td>
            <td class="table-desc" >Lorem Ipsum</td>
            <td class="table-date" >Apr 15, 2014 - 12:01</td>
            <td class="table-status text-right">Aberto</td>
        </tr>
        </tbody>
    </table>
</div>
